.header {
  position: absolute;
  left: 200px;
  top: 310px;
  color: #ffffff;
}
.header p {
  margin-bottom: 15px;
}
.header h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 84.72px;
  margin: 0px;
}

.introduction {
  background-image: url("images/background-image.png");
  background-repeat: no-repeat;
  min-height: 776px;
  background-size: 100% 100%;
}
.menu_button a:active {
  color: #ffffff;
  text-decoration: none;
}

.my_photo {
  position: absolute;
  bottom: 0;
}
