@media only screen and (max-width: 600px) {
  #information {
    margin-left: 20px;
    margin-top: 0;
    text-align: left;
  }
  .information_about_me::first-letter {
    margin-left: 17px;
  }
  .information_about_me {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    margin-right: 25px;
    margin-left: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .information-block {
    display: block;
  }
  #full-photo {
    display: none;
  }
  .information-photo {
    display: none;
  }
  .text-information {
    margin-left: 0;
  }
}
